#footer {
    margin: 10vmin auto;
    max-width: calc(100% - 20vmin);
    text-align: center;
    font-size: small;
    background-color: #270000;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
    padding: 2vmin;

    .texttop {
        margin-top: 0;
    }
    .textbottom {
        margin-bottom: 0;
    }

    button {
        font-size: small;
    }
}