body {
    background-color: #1a1a1a;
    font-family: "Courier New", serif;
    color: white;
}

#logo {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 black;
}

button {
    background-color: white;
    border-radius: 10px;
    font-family: "Courier New", serif;
    color: black;
    border: none;
    width: 135px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    transition-duration: 0.4s;
    margin-bottom: 13px;
}

button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

a {
    color: white;
}

#calendar {
    width: 500px;
}

.platformicon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#bottom-spacer {
    height: 150px;
}

#footer {
    height: 125px;
    width: calc(100% - 16px);
    background-color: #3b3b3b;
    left: 0;
    right: 0;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 black;
}

#footertable {
    border-collapse: collapse;
    width: calc(100% - 16px);
    margin: 8px;
    font-size: small;
    th, td {
        border: 5px solid transparent;
    }
    a {
        text-decoration: none;
    }
}

#tableheading {
    font-size: large;
}