/* latin-ext */
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courierprime/v9/u-450q2lgwslOqpF_6gQ8kELaw9pWt_-.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courierprime/v9/u-450q2lgwslOqpF_6gQ8kELawFpWg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,0,0,1) 50%, rgba(0,0,0,1) 100%);
    font-family: "Courier Prime", "Courier New", Courier, monospace, serif;
    color: white;
    text-align: center;
    font-size: 4vmin;
}

#menubutton {
    position: fixed;
    top: 5vmin;
    right: 5vmin;
    height: 10vmin;

    cursor: pointer;
}

#menu {
    display: none;

    position: fixed;
    left: 5vmin;
    right: 5vmin;
    top: 5vmin;
    bottom: 5vmin;

    text-align: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
    padding: 2vmin;

    #closebutton {
        position: fixed;
        top: 8vmin;
        right: 8vmin;
        height: 10vmin;

        cursor: pointer;
    }

    .texttop {
        margin-top: 0;
    }
    .textbottom {
        margin-bottom: 0;
    }
}

#headertext {
    margin-top: 0;
}

#header {
    margin: auto;
    max-width: calc(100% - 20vmin);
    text-align: center;
    padding: 0 2vmin;
}

.hint {
    font-size: small;
}

#logo {
    height: 100px;
    width: 100px;
}

button {
    background-color: black;
    border-radius: 10px;
    font-family: "Courier Prime", "Courier New", Courier, monospace, serif;
    font-size: 4vmin;
    color: white;
    border: none;
    min-width: 25vmin;
    height: auto;
    min-height: 7vmin;
    padding: 17px 20px;
    cursor: pointer;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 6px 2vmin 0 white;
    transition-duration: 0.4s;
    margin: 13px;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 6px 2vmin 0 white;
}

a {
    color: white;
}

.contentdiv {
    margin: 5vmin auto;
    max-width: calc(100% - 20vmin);
    text-align: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
    padding: 2vmin;

    .texttop {
        margin-top: 0;
    }
    .textbottom {
        margin-bottom: 0;
    }
}

#calendar {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 white;
    padding: 10px;
    th {
        padding-left: 1.5vmin;
        padding-right: 1.5vmin;
    }
    .texttop {
        margin-top: 0;
    }
    .textbottom {
        margin-bottom: 0;
    }
}

.platformicon {
    width: 4vmin;
    height: 4vmin;
    cursor: pointer;
}

.album {
    height: 30vmin;
    width: 30vmin;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.album:hover {
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 6px 2vmin 0 white;
}

.bigalbum {
    height: 80vmin;
    width: 80vmin;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 6px 2vmin 0 white;
}

.streams {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.albums {
    height: 30vmin;
    width: 30vmin;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
    transition-duration: 0.4s;
    margin: 1.25vmin;
}

.albums:hover {
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 6px 2vmin 0 white;
}

.infotable {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;

    padding: 10px;
}

.infotablenumber {
    width: 25px;
}

.infotableleft {
    width: 230px;
    font-weight: bold;
}

.infotableright {
    font-weight: normal;
}

.numbercell {
    font-weight: bold;
}

#socialMediaPlatforms {
    margin: 0 auto;
    width: calc(100% - 20vmin);
    text-align: center;

    .tablediv {
        margin: 5vmin auto;
        text-align: center;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0 0.5vmin 1vmin 0 black, 0 0.6vmin 1.5vmin 0 white;
        padding: 2vmin;
    }

    table {
        margin: 0 auto;
    }

    .platformicon {
        padding-right: 2vmin;
        vertical-align: middle;
    }
}