#footer {
    height: 125px;
    width: calc(100% - 16px);
    background-color: #270000;
    left: 0;
    right: 0;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 black;
}

#footertable {
    border-collapse: collapse;
    width: calc(100% - 16px);
    margin: 8px;
    font-size: small;
    th, td {
        border: 5px solid transparent;
    }
    a {
        text-decoration: none;
    }
}

#tableheading {
    font-size: large;
}

#bottom-spacer {
    height: 150px;
}